# Servidor web
PORT=3000
NODE_ENV=development

# Base de datos MySQL
DB_HOST=localhost
DB_PORT=3306
DB_NAME=bd_tradicion
DB_USER=root
DB_PASSWORD=CONTRASEÑA

# Sesión
SESSION_SECRET=cambia_esta_clave_por_una_cadena_larga_y_aleatoria

